/*
.mint-swipe-indicators {
  position: absolute;
  bottom: 4px;
  left: 80%;
  transform: translateX(-50%);
}
*/



.mint-tabbar.is-fixed {
  right: 0;
  bottom: 0;
  left: 0;
/*  position: static;*/
  z-index: 1;
  position: static;
}


.mint-navbar.is-fixed {
  top: 0;
  right: 0;
  left: 0;
  position:static;
  z-index: 1;
}

.mint-swipe-indicators {
  position: absolute;
  /* bottom: 3px; */
  left: 80%;
  transform: translateX(-50%);
  top: 162px;
}